@use 'variables';
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100..900&display=swap');
@import url('./reset.css');

html {
  font-family: 'Archivo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

body {
  color: variables.$grey_dark;
}

*[disabled] {
  background-color: variables.$grey;
  cursor: no-drop;

  &:hover {
    background-color: variables.$grey;
  }
}

main {
  width: 80ch;
  margin: 5rem auto;
  border-radius: variables.$border_radius;
  background-color: variables.$white;

  &:has(.login) {
    height: 100vh;
    margin: auto;
    display: flex;
  }
}

h1,
.header_input {
  font-size: 2rem;
  font-weight: 500;
}

.header_input {
  line-height: 1;
}

h2 {
  font-size: 1.6rem;
  font-weight: 500;
}

h3 {
  font-weight: 500;
}

button,
a.style_button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: variables.$border_radius;
  background-color: variables.$theme;
  color: variables.$white;
  align-self: flex-start;
  cursor: pointer;

  &:hover {
    background-color: variables.$theme_light;
  }
}

a {
  color: variables.$grey_dark;
  text-decoration: none;
}

hr {
  border: none;
  border-top: 2px solid variables.$shadow;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: variables.$mid_padding;

  label {
    cursor: pointer;
  }

  input,
  select {
    padding: variables.$padding;
    border: 1px solid variables.$grey;
    border-radius: variables.$border_radius;
  }

  .checkbox_container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    > div {
      display: flex;
      column-gap: 0.8rem;
    }
  }

  .form_actions {
    margin-top: 1rem;
    display: flex;
    align-self: flex-end;
    column-gap: 1rem;
  }
}
