@use 'variables';

.main_content {
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;

  header {
    padding-bottom: 1rem;
    border-bottom: 2px solid variables.$grey;
    display: flex;
    flex-direction: column;
  }

  > a {
    align-self: flex-end;
  }

  .heading {
    color: variables.$theme_hover;
    line-height: 1;
  }

  .description {
    color: variables.$grey_dark;
    display: inline-block;
    margin-top: 0.3rem;
  }

  section {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid variables.$shadow;

    > div:first-child {
      margin-bottom: 0.5rem;
    }

    > button {
      margin-top: 0.3rem;
      align-self: flex-start;
    }

    .section_question {
      display: grid;
      grid-template-columns: variables.$margin_left auto;
      row-gap: 1rem;
    }

    .section-new_item {
      margin-top: 0.3rem;
      padding: 1rem 1.5rem 1.5rem;
      border-radius: variables.$border_radius;
      background-color: variables.$grey_light;
      display: flex;
      flex-direction: column;
      row-gap: 1rem;

      > div {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
      }

      .section-new_item-list {
        margin-left: variables.$margin_left;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        > div {
          display: flex;
          align-items: center;
          column-gap: 1rem;
        }
      }

      .section-new_rule-list {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;

        span:first-of-type {
          margin-bottom: 0.8rem;
        }

        > div {
          margin-left: variables.$margin_left;
          display: flex;
          flex-direction: column;
          row-gap: 0.4rem;
        }
      }

      .checkbox_container {
        margin-left: variables.$margin_left;
      }
    }
  }

  .forms_list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    > li {
      padding: 1rem 1.5rem;
      display: grid;
      grid-template-columns: 5fr repeat(3, 1fr);
      align-items: center;

      &:not(:first-child) {
        background-color: variables.$white;
        border: 1px solid variables.$grey_light;
        border-radius: variables.$border_radius;
        box-shadow: variables.$box-shadow;
      }

      &:first-child {
        padding: 0 1.5rem;

        h2 {
          font-weight: 600;
        }
      }

      &:hover {
        a {
          text-decoration: underline;
          text-underline-offset: 4px;
        }
      }

      .forms_list_name {
        display: flex;
        flex-direction: column;

        em {
          font-size: 0.9rem;
          color: variables.$grey;
        }
      }
    }
  }
}
