@use 'variables';

.required {
  margin-left: 0.2rem;
  color: red;
}

.subtext {
  font-size: 0.9rem;
  padding: variables.$padding;
  background-color: variables.$grey_light;
  border-radius: variables.$border_radius;
}

.subtext-flex {
  display: flex;

  > *:last-child {
    margin-left: auto;
  }
}

.subtext-green {
  background-color: variables.$green_fade;
}

.subtext-blue {
  background-color: variables.$blue_fade;
}

.bold {
  font-weight: 600;
}

.submit {
  background-color: variables.$green;
  align-self: stretch;

  &:hover {
    background-color: variables.$green_hover;
  }
}

.submit-end {
  align-self: flex-end;
}

.badge {
  font-size: 0.7rem;
  font-weight: 400;
  padding: 0.1rem 0.4rem;
  border-radius: variables.$border_radius;
  background-color: variables.$grey;
  color: variables.$grey_light;
  text-transform: uppercase;
}

.badge-orange {
  background-color: variables.$orange;
}

.badge-green {
  background-color: variables.$green;
}

.badge-green-icon {
  color: variables.$green;
}

.badge-grey {
  background-color: variables.$grey_dark_semi;
}

.badge-grey-icon {
  color: variables.$grey_dark_semi;
}
