@use 'variables';

.required {
  margin-left: 0.2rem;
  color: red;
}

.subtext {
  font-size: 0.9rem;
  padding: 0.5rem;
  background-color: variables.$grey_light;
  border-radius: variables.$border_radius;
}

.bold {
  font-weight: 600;
}

.submit {
  background-color: variables.$green;

  &:hover {
    background-color: variables.$green_hover;
  }
}

.highlight {
  font-size: 0.9rem;
  padding: 0.5rem;
  background-color: variables.$green_fade;
  border-radius: variables.$border_radius;
}
