@use 'variables';

.required {
  margin-left: 0.2rem;
  color: red;
}

.subtext {
  font-size: 0.85rem;
}

.highlight {
  font-size: 0.9rem;
  padding: variables.$padding;
  background-color: variables.$grey_light;
  border-radius: variables.$border_radius;

  .span-a {
    color: variables.$theme;
  }

  &:has(.span-a) {
    cursor: pointer;

    &:hover {
      .span-a {
        text-decoration: underline;
        text-underline-offset: 3px;
      }
    }
  }
}

.highlight-flex {
  display: flex;

  > *:last-child {
    margin-left: auto;
    margin-right: 0.1rem;
  }
}

.highlight-green {
  background-color: variables.$green_fade;
}

.highlight-blue {
  background-color: variables.$blue_fade;
}

.bold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  color: variables.$theme;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

.submit {
  background-color: variables.$green;
  align-self: stretch;

  &:hover {
    background-color: variables.$green_hover;
  }
}

.submit-end {
  align-self: flex-end;
}

.badge {
  font-size: 0.7rem;
  font-weight: 400;
  padding: 0.1rem 0.4rem;
  border-radius: variables.$border_radius;
  background-color: variables.$grey;
  color: variables.$grey_light;
  text-transform: uppercase;
}

.badge-orange {
  background-color: variables.$orange;
}

.badge-orange-icon {
  color: variables.$orange;
}

.badge-green {
  background-color: variables.$green;
}

.badge-green-icon {
  color: variables.$green;
}

.badge-grey {
  background-color: variables.$grey_dark_semi;
}

.badge-grey-icon {
  color: variables.$grey_dark_semi;
}
