$white: #fff;
$grey_light: #f6f6f6;
$grey: #ccc;
$grey_dark_semi: #888;
$grey_dark: #333;
$orange: hsl(50, 200%, 40%);
$green: hsl(120, 100%, 35%);
$green_hover: hsl(120, 100%, 30%);
$green_fade: hsla(120, 100%, 35%, 0.1);
$shadow: #c6c6c6;
$theme: hsl(215, 85%, 45%);
$theme_light: hsl(215, 85%, 57%);
$box-shadow: 0 0 5px $shadow;
$border_radius: 8px;
$margin_left: 1.5rem;
$mid_padding: 2rem;
$divider: 0.5px solid $grey;
