$white: #fff;
$grey_light: #f6f6f6;
$grey: #ccc;
$grey_dark: #333;
$green: rgb(0, 180, 0);
$shadow: #c6c6c6;
$theme: #0066ff;
$theme_hover: #135ecf;
$box-shadow: 0 0 5px $shadow;
$border_radius: 3px;
$margin_left: 1.5rem;
