$theme: hsl(215, 85%, 45%);
$theme_light: hsl(215, 85%, 57%);
$white: #fff;
$grey_light: #f9f9f9;
$grey: #ccc;
$grey_dark_semi: #888;
$grey_dark: #333;
$grey_dark_title: #555;
$orange: hsl(50, 200%, 40%);
$green: hsl(120, 100%, 35%);
$green_hover: hsl(120, 100%, 30%);
$green_fade: rgba($green, 0.1);
$blue_fade: rgba($theme_light, 0.1);
$shadow: #c6c6c6;
$box-shadow: 0 0 5px $shadow;
$border_radius: 8px;
$nav_height: 9rem;
$padding: 0.4rem 0.7rem;
$mid_padding: 2rem;
$margin_left: 1.5rem;
$divider: 0.5px solid $grey;
